# Python virtual environments
venv/
.venv/
.virtualEnviroment/

# Python cache
__pycache__/
*.pyc

# Environment file
.env

# Database
*.db
*.sqlite3

# Gmail OAuth
credentials.json
token.json

# OS files
.DS_Store
Thumbs.db
